################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Subscriptions/bin/Debug/net6.0
/Subscriptions/Properties
/Subscriptions/obj
/Subscriptions/appsettings.json
/Subscriptions/appsettings.Development.json
/Subscriptions.Tests.Unit/obj
/Subscriptions.Tests.Unit/bin/Debug/net6.0
/Subscriptions.Tests.Acceptance
